[submodule "Week2_3-Data-Structure-I/templates/cpp-skiplist-template/third_party/googletest"]
	path = Week2_3-Data-Structure-I/templates/cpp-skiplist-template/third_party/googletest
	url = git@github.com:google/googletest.git
[submodule "Week8_9-SQL-Optimizer/homework/DaobingZhu/talent-plan-merge"]
	path = Week8_9-SQL-Optimizer/homework/DaobingZhu/talent-plan-merge
	url = https://github.com/IcePigZDB/talent-plan.git
[submodule "Week10_11-Executor/homework/DaobingZhu/talent-plan-join"]
	path = Week10_11-Executor/homework/DaobingZhu/talent-plan-join
	url = https://github.com/IcePigZDB/talent-plan.git
[submodule "Week12_13-Distributed-System/homework/YingchunMa/6.824"]
	path = Week12_13-Distributed-System/homework/YingchunMa/6.824
	url = https://github.com/myccccccc/6.824.git
[submodule "Week12_13-Distributed-System/homework/DaobingZhu/6.824"]
	path = Week12_13-Distributed-System/homework/DaobingZhu/6.824
	url = https://github.com/IcePigZDB/6.824-labs-2020.git
