[submodule "Week2,3-Data-Structure-I/cpp-skiplist/third_party/googletest"]
	path = Week2,3-Data-Structure-I/cpp-skiplist/third_party/googletest
	url = git@github.com:google/googletest.git
[submodule "Week2_3-Data-Structure-I/cpp-skiplist-template/third_party/googletest"]
	path = Week2_3-Data-Structure-I/cpp-skiplist-template/third_party/googletest
	url = git@github.com:google/googletest.git
